body {
	background-color: $color_body_bg;
	background-image: url('../../images/body-bg-gradient.png');
	background-repeat: repeat-x;
}

#main-header {
	@extend .container_16;
	@include clearfix;

	.site-name {
		@extend .grid_10;
	}

	#auth-navigation{
		@extend .grid_4;
		@extend .prefix_2;

		ul {
			li {
				margin: 0.2em;
			}
		}
	}
}

#main-navigation {
	@extend .container_16;
	margin-top: 1em;

	ul {
		@extend .grid_16;

		li {
			margin: 0.3em 0;
			a {
				margin: 0.3em 1em 0.3em 0;
				padding: 0.3em 0;
				@include rounded(15px);
				font-weight: 700;
			}
		}
	}
}



#main-content {
	@extend .container_16;
	@include clearfix;

	margin-top: 2em; margin-bottom: 2em;
	padding-bottom: 1em;
	background: $color_page_bg;
	border: 2px solid $color_page_border;
	@include box-shadow(2px, 2px, 15px, $color_page_shadow);

	#section-navigation {
		@extend .grid_16;

		ul {

			li {
				a {
					padding: 0.3em 0;
				}
			}
		}
	}

	.notice {
		@extend .grid_16;
	}

	.title {
		@extend .grid_16;
	}

	#body {
		@extend .grid_16;
	}
}

#main-footer {
	@extend .grid_16;
}

ul.nav {
	@include horizontal-list;

	a {
		text-decoration: none;
		font-size: 0.9em;
		&:hover {
			text-decoration: underline;
		}
	}
}
